[Unit]
Description=Remix - Jokes App Tutorial

[Service]
ExecStart=/home/ubuntu/.nvm/versions/node/v16.13.0/bin/npm start
WorkingDirectory=

# Restart service after 10 seconds if service crashes
Restart=always
RestartSec=10

# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=remix-jokes

[Install]
WantedBy=multi-user.target
